<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
  <!-- 主页面 -->
  <div #editorContainerRef class="h-full editor-container"></div>
  <!-- <div class="sidebar">
    <div class="header">All Docs</div>
    <div class="doc-list">
      @for (doc of docs; track $index) {
        <div (click)="selectDoc(doc)" [class.active]="editorProvider.getEditor().doc === doc" class="doc-item">
          {{ doc.meta?.title || 'Untitled' }}
        </div>
      }
    </div>
  </div>
  <div class="main-content">
    <div class="top-bar">Angular Basic</div>
  </div> -->
</div>
