<svg
  [attr.width]="svgWH[0]"
  [attr.height]="svgWH[1]"
  attr.style="transform:scale({{ svgScale[0] }},{{ svgScale[1] }});">
  @for (point of points; track $index) {
    <rect
      [attr.fill]="_colors[point[2] > 0.5 ? 0 : 1]"
      [attr.x]="point[0] - halfRectWidth"
      [attr.y]="point[1] - heights[$index] / 2"
      [attr.width]="rectWidth"
      [attr.height]="heights[$index]">
      <animate
        attributeName="y"
        attr.values="{{ point[1] - minHeights[$index] / 2 }};{{ point[1] - heights[$index] / 2 }};{{
          point[1] - minHeights[$index] / 2
        }}"
        attr.dur="{{ randoms[$index] }}s"
        keyTimes="0;0.5;1"
        calcMode="spline"
        keySplines="0.42,0,0.58,1;0.42,0,0.58,1"
        begin="0s"
        repeatCount="indefinite" />
      <animate
        attributeName="height"
        attr.values="{{ minHeights[$index] }};{{ heights[$index] }};{{ minHeights[$index] }}"
        attr.dur="{{ randoms[$index] }}s"
        keyTimes="0;0.5;1"
        calcMode="spline"
        keySplines="0.42,0,0.58,1;0.42,0,0.58,1"
        begin="0s"
        repeatCount="indefinite" />
    </rect>
  }
</svg>
