auth-sign-in {
  @apply z-0 bg-[url('assets/images/background/bg.jpg')] bg-cover bg-center bg-no-repeat dark:bg-[url('assets/images/background/bg-dark.jpg')];
  .background-container {
    background-position: bottom 1px center;
    mask-image: linear-gradient(transparent, black);
    @apply absolute inset-0 z-10 flex min-w-0 flex-col overflow-hidden bg-[url('assets/images/background/bg.svg')] dark:bg-[url('assets/images/background/bg-dark.svg')];
  }
  .introduce-content {
    background: radial-gradient(100% 225% at 100% 0%, #f43f5e 0%, #1e293b 100%),
      linear-gradient(236deg, var(--ws-primary-400) 0%, #1e293b 100%),
      linear-gradient(
        135deg,
        var(--ws-primary-200) 0%,
        var(--ws-primary-200) 36%,
        var(--ws-primary-400) 36%,
        var(--ws-primary-400) 60%,
        var(--ws-primary) 60%,
        var(--ws-primary) 67%,
        var(--ws-primary-800) 67%,
        var(--ws-primary-800) 100%
      );
    background-blend-mode: overlay, hard-light, normal;
  }
}
