<div class="ws-vertical-navigation-wrapper">
  <!-- 头部 -->
  <div class="ws-vertical-navigation-header">
    <ng-content select="[wsVerticalNavigationHeader]"></ng-content>
  </div>

  <!-- 内容 -->
  <div
    class="ws-vertical-navigation-content"
    wsScrollbar
    [wsScrollbarOptions]="{ wheelPropagation: inner, suppressScrollX: true }"
    #navigationContent
    cdkDropList
    (cdkDropListDropped)="basicItemDrop($event)">
    <!-- 内容头部 -->
    <div class="ws-vertical-navigation-content-header">
      <ng-content select="[wsVerticalNavigationContentHeader]" />
    </div>

    <!-- 明细 -->
    @for (item of navigation; track item.id) {
      <!-- 跳过隐藏项 -->
      @if ((item.hidden && !item.hidden(item)) || !item.hidden) {
        <!-- 侧边 -->
        @if (item.type === 'aside') {
          <ws-vertical-navigation-aside-item
            [item]="item"
            [name]="name"
            [activeItemId]="activeAsideItemId"
            [autoCollapse]="autoCollapse"
            [skipChildren]="true"
            (click)="toggleAside(item)" />
        }

        <!-- 基本 -->
        @if (item.type === 'basic') {
          <ws-vertical-navigation-basic-item
            [item]="item"
            [name]="name"
            cdkDrag
            cdkDragLockAxis="y"
            cdkDragBoundary=".ws-vertical-navigation-content" />
        }

        <!-- 折叠 -->
        @if (item.type === 'collapsable') {
          <ws-vertical-navigation-collapsable-item [item]="item" [name]="name" [autoCollapse]="autoCollapse" />
        }

        <!-- 分割线 -->
        @if (item.type === 'divider') {
          <ws-vertical-navigation-divider-item [item]="item" [name]="name" />
        }

        <!-- 分组 -->
        @if (item.type === 'group') {
          <ws-vertical-navigation-group-item [item]="item" [name]="name" [autoCollapse]="autoCollapse" />
        }

        <!-- 间隔 -->
        @if (item.type === 'spacer') {
          <ws-vertical-navigation-spacer-item [item]="item" [name]="name" />
        }
      }
    }

    <!-- 内容尾部 -->
    <div class="ws-vertical-navigation-content-footer">
      <ng-content select="[wsVerticalNavigationContentFooter]" />
    </div>
  </div>

  <!-- 尾部 -->
  <div class="ws-vertical-navigation-footer">
    <ng-content select="[wsVerticalNavigationFooter]" />
  </div>
</div>

<!-- 侧边 -->
@if (activeAsideItemId) {
  <div
    class="ws-vertical-navigation-aside-wrapper"
    wsScrollbar
    [wsScrollbarOptions]="{ wheelPropagation: false, suppressScrollX: true }"
    [@fadeInLeft]="position === 'left'"
    [@fadeInRight]="position === 'right'"
    [@fadeOutLeft]="position === 'left'"
    [@fadeOutRight]="position === 'right'">
    <!-- 明细 -->
    @for (item of navigation; track item.id) {
      <!-- 跳过隐藏项 -->
      @if ((item.hidden && !item.hidden(item)) || !item.hidden) {
        <!-- 侧边 -->
        @if (item.type === 'aside' && item.id === activeAsideItemId) {
          <ws-vertical-navigation-aside-item [item]="item" [name]="name" [autoCollapse]="autoCollapse" />
        }
      }
    }
  </div>
}
