<!-- ---------------------------------------------------------------------------- -->
<!-- 空白布局 -->
<!-- ---------------------------------------------------------------------------- -->
@if (layout === 'empty') {
  <empty-layout />
}

<!-- ---------------------------------------------------------------------------- -->
<!-- 水平导航布局 -->
<!-- ---------------------------------------------------------------------------- -->

<!-- 居中 -->
@if (layout === 'centered') {
  <centered-layout />
}

<!-- 企业 -->
@if (layout === 'enterprise') {
  <enterprise-layout />
}

<!-- 材料 -->
@if (layout === 'material') {
  <material-layout />
}

<!-- 现代 -->
@if (layout === 'modern') {
  <modern-layout />
}

<!-- 标准 -->
@if (layout === 'standard') {
  <standard-layout />
}

<!-- ---------------------------------------------------------------------------- -->
<!-- 垂直导航布局 -->
<!-- ---------------------------------------------------------------------------- -->

<!-- 经典 -->
@if (layout === 'classic') {
  <classic-layout />
}

<!-- 优雅 -->
@if (layout === 'classy') {
  <classy-layout />
}

<!-- 简洁 -->
@if (layout === 'compact') {
  <compact-layout />
}

<!-- 紧凑 -->
@if (layout === 'dense') {
  <dense-layout />
}

<!-- 未来 -->
@if (layout === 'futuristic') {
  <futuristic-layout />
}

<!-- 混合 -->
@if (layout === 'mix') {
  <mix-layout />
}

<!-- 细小 -->
@if (layout === 'thin') {
  <thin-layout />
}

<!-- ---------------------------------------------------------------------------- -->
<!-- 设置抽屉-移除此按钮可移除抽屉及其按钮 -->
<!-- ---------------------------------------------------------------------------- -->
<settings [buttonHidden]="!showSetting" />
